{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('room_request.manage', 'Manage request')
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route, user_id=user.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}



{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}

    <div class="ui stackable centered grid container">
        <div class="sixteen wide column">
            <h2 class="ui header">
                Staff Dashboard
            </h2>

            <div class="ui tabular menu">
                <div class="active item" data-tab="tab-name" style="cursor: pointer;">Manage Room Requests</div>
            </div>

                <div class="active ui tab" data-tab="tab-name">
                    <div class="ui stackable grid container">
                        <div class="sixteen wide column">

                            <h2 class="ui header">
                                Manage Room Requests
                                <div class="sub header">
                                    View and manage all room requests.
                                </div>
                            </h2>

                            <div class="ui fluid search">
                                <div class="ui icon input">
                                    <input class="prompt" id="search-room-requests" type="text" placeholder="Search room requests">
                                    <i class="search icon"></i>
                                </div>
                            </div>
                            <div style="max-width: 100%; overflow-y: hidden;">
                                <table class="ui searchable sortable unstackable selectable celled table">
                                  <thead>
                                      <tr>
                                          <th>Delete</th>
                                          <th>Requester First Name</th>
                                          <th class="sorted ascending">Requester Last Name</th>
                                          <th>Email Address</th>
                                          <th>Relationship to Patient</th>
                                          <th>Address</th>
                                          <th>Primary Phone</th>
                                          <th>Secondary Phone</th>
                                          <th>Primary Language</th>
                                          <th>Secondary Language</th>
                                          <th>Requested Before?</th>
                                          <th>Patient First Name</th>
                                          <th>Patient Last Name</th>
                                          <th>Patient Birthday</th>
                                          <th>Patient Gender</th>
                                          <th>Hospital in Philadelphia</th>
                                          <th>Hospital Department</th>
                                          <th>Treatment Description</th>
                                          <th>Diagnosis</th>
                                          <th>First Appointment Date</th>
                                          <th>Check In</th>
                                          <th>Check Out</th>
                                          <th>Treating Doctor</th>
                                          <th>Doctor Phone</th>
                                          <th>Hospital Social Worker</th>
                                          <th>Hospital Social Worker Phone</th>
                                          <th>Inpatient/Outpatient</th>
                                          <th>Inpatient Stay?</th>
                                          <th>Vaccinated?</th>
                                          <th>Wheelchair Access?</th>
                                          <th>Full Bathroom?</th>
                                          <th>Pack 'n Play?</th>
                                          <th>Additional Comments</th>
                                      </tr>
                                  </thead>
                                    <tbody>
                                    {% for r in room_requests %}
                                    <!--modal-->
                                    <div class="ui modal" id="delete-room-request-modal-{{ r.id }}">
                                        <div class="header">Confirm Deletion Request</div>
                                        <div class="content">
                                            <p>Do you want to delete this entry?</p>
                                        </div>
                                        <div class="actions">
                                            <div class="ui red approve button" onclick="deleteUser({{ r.id }})">Confirm</div>
                                            <div class="ui cancel button">Cancel</div>
                                        </div>
                                    </div>
                                    <tr onclick="window.location.href = '{{ url_for('room_request.manage', id=r.id) }}';">
                                        <td><button class="ui red button" onclick="openDeleteModal(event, {{ r.id }})">Delete</button></td>
                                        <td>{{ r.first_name }}</td>
                                        <td>{{ r.last_name }}</td>
                                        <td>{{ r.email }}</td>
                                        <td>{{ r.relationship_to_patient }}</td>
                                        <td class="collapsing">
                                            {{ r.address_line_one }} {{ r.address_line_two }} <br />
                                            {{ r.city }}, {{ r.state }}, {{ r.zip_code }}, {{ r.country }}
                                        </td>
                                        <td>{{ r.primary_phone }}</td>
                                        <td>{{ r.secondary_phone }}</td>
                                        <td>{{ r.primary_language }}</td>
                                        <td>{{ r.secondary_language }}</td>
                                        <td>{{ 'Yes' if r.previous_stay else 'No' }}</td>
                                        <td class="collapsing">{{ r.patient_first_name }}</td>
                                        <td class="collapsing">{{ r.patient_last_name }}</td>
                                        <td>{{ r.patient_dob }}</td>
                                        <td>{{ r.patient_gender }}</td>
                                        <td class="collapsing">{{ r.patient_hospital }}</td>
                                        <td>{{ r.patient_hospital_department }}</td>
                                        <td class="collapsing">{{ r.patient_treatment_description }}</td>
                                        <td class="collapsing">{{ r.patient_diagnosis }}</td>
                                        <td class="collapsing">{{ r.patient_first_appt_date }}</td>
                                        <td class="collapsing">{{ r.patient_check_in }}</td>
                                        <td class="collapsing">{{ r.patient_check_out }}</td>
                                        <td class="collapsing">{{ r.patient_treating_doctor }}</td>
                                        <td class="collapsing">{{ r.patient_doctors_phone }}</td>
                                        <td class="collapsing">{{ r.patient_social_worker }}</td>
                                        <td class="collapsing">{{ r.patient_social_worker_phone }}</td>
                                        <td>{{ r.inpatient }}</td>
                                        <td>{{ 'Yes' if r.inpatient_prior else 'No' }}</td>
                                        <td>{{ 'Yes' if r.vaccinated else 'No' }}</td>
                                        <td>{{ 'Yes' if r.wheelchair_access else 'No' }}</td>
                                        <td>{{ 'Yes' if r.full_bathroom else 'No' }}</td>
                                        <td>{{ 'Yes' if r.pack_n_play else 'No' }}</td>
                                        <td class="collapsing">{{ r.comments }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                <script type="text/javascript">
                  function openDeleteModal(e, room_request_id) {
                      $(`#delete-room-request-modal-${room_request_id}`).modal('show')
                      e.stopImmediatePropagation();
                  }

                  // Make a DELETE request to the following URL
                  function deleteUser(user_id) {
                      $.ajax({
                          url: `/room-request/${user_id}/_delete`,
                          type: 'DELETE',
                          success: function(response) {
                          // Print the response in the browser console
                          console.log(response)
                          // Refresh the page
                          document.location.reload()
                          },
                          data: {"csrf_token": `{{ csrf_token() }}`}
                      })
                  }

                    $(document).ready(function () {
                        $('#search-room-requests').keyup(function () {
                            var searchText = $(this).val();
                            if (searchText.length > 0) {
                                $('tbody td:icontains(' + searchText + ')').addClass('positive');
                                $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                                $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                                $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                            } else {
                                $('td.positive').removeClass('positive');
                                $('tr.hidden').removeClass('hidden').show();
                            }
                        });

                        $('#select-role').dropdown({
                            onChange: function (value, text, $selectedItem) {
                                $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                                $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                            }
                        });

                    });
                </script>
            </div>


            <script>
                $('.tabular.menu .item').tab();
            </script>

        </div>
    </div>


    <script>
        $('.tabular.menu .item').tab();
    </script>

{% endblock %}
