{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set endpoints = [
    ('room_request.manage', 'Manage request')
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route, user_id=user.id) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
{% endmacro %}



{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}

    <div class="ui stackable centered grid container">
        <div class="sixteen wide column">
            <h2 class="ui header">
                Staff Dashboard
            </h2>

            <div class="ui tabular menu">
                <div class="active item" data-tab="tab-name" style="cursor: pointer;">Room Requests</div>
                <div class="item" data-tab="tab-name1" style="cursor: pointer;">Duplicates</div>
            </div>

                <div class="active ui tab" data-tab="tab-name">
                    <div class="ui stackable grid container">
                        <div class="sixteen wide column">

                            <h2 class="ui header">
                                Room Requests
                                <div class="sub header">
                                    View and manage all room requests.
                                </div>
                            </h2>

                            <div class="ui fluid search" style="margin-bottom:16px;">
                                <div class="ui icon input">
                                    <input class="prompt" id="search-room-requests" type="text" placeholder="Search room requests">
                                    <i class="search icon"></i>
                                </div>
                            </div>
                            <div style="max-width: 100%; overflow-y: hidden;">
                                <table class="ui searchable sortable unstackable selectable celled table">
                                  <thead>
                                      <tr>
                                          <th>Patient First Name</th>
                                          <th>Patient Last Name</th>
                                          <th>Check In</th>
                                          <th>Check Out</th>
                                          <th>Hospital in Philadelphia</th>
                                          <th>Diagnosis</th>
                                          <th>Inpatient/Outpatient</th>
                                          <th>Inpatient Stay?</th>
                                          <th>Requester First Name</th>
                                          <th class="sorted ascending">Requester Last Name</th>
                                          <th>Relationship to Patient</th>
                                          <th>Email Address</th>
                                          <th>Primary Phone</th>
                                          <th>Primary Language</th>
                                          <th>Requested Before?</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                  {% for r in room_requests %}
                                  <tr onclick="window.location.href = '{{ url_for('room_request.manage', id=r.id) }}';">
                                      <td class="collapsing">{{ r.patient_first_name }}</td>
                                      <td class="collapsing">{{ r.patient_last_name }}</td>
                                      <td class="collapsing">{{ r.patient_check_in }}</td>
                                      <td class="collapsing">{{ r.patient_check_out }}</td>
                                      <td class="collapsing">{{ r.patient_hospital }}</td>
                                      <td class="collapsing">{{ r.patient_diagnosis }}</td>
                                      <td>{{ r.inpatient }}</td>
                                      <td>{{ 'Yes' if r.inpatient_prior else 'No' }}</td>
                                      <td>{{ r.first_name }}</td>
                                      <td>{{ r.last_name }}</td>
                                      <td>{{ r.relationship_to_patient }}</td>
                                      <td>{{ r.email }}</td>
                                      <td>{{ r.primary_phone }}</td>
                                      <td>{{ r.primary_language }}</td>
                                      <td>{{ 'Yes' if r.previous_stay else 'No' }}</td>
                                  </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#search-room-requests').keyup(function () {
                            var searchText = $(this).val();
                            if (searchText.length > 0) {
                                $('tbody td:icontains(' + searchText + ')').addClass('positive');
                                $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                                $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                                $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                            } else {
                                $('td.positive').removeClass('positive');
                                $('tr.hidden').removeClass('hidden').show();
                            }
                        });
                    });
                </script>
            </div>

            <div class="ui tab" data-tab="tab-name1">
                <div class="ui stackable grid container">
                    <div class="sixteen wide column">

                        <h2 class="ui header">
                            Duplicate Room Requests
                            <div class="sub header">
                                View and manage all duplicate room requests.
                            </div>
                        </h2>

                        {% if duplicates|length %}
                        <div style="max-width: 100%; overflow-y: hidden;">
                            <table class="ui unstackable selectable single line celled table striped">
                              <thead>
                                  <tr>
                                    <th>Show Duplicates</th>
                                    <th>Patient First Name</th>
                                    <th>Patient Last Name</th>
                                    <th>Check In</th>
                                    <th>Check Out</th>
                                    <th>Hospital in Philadelphia</th>
                                    <th>Diagnosis</th>
                                    <th>Inpatient/Outpatient</th>
                                    <th>Inpatient Stay?</th>
                                    <th>Requester First Name</th>
                                    <th class="sorted ascending">Requester Last Name</th>
                                    <th>Relationship to Patient</th>
                                    <th>Email Address</th>
                                    <th>Primary Phone</th>
                                    <th>Primary Language</th>
                                    <th>Requested Before?</th>
                                  </tr>
                              </thead>
                                {% for d in duplicates %}
                                <tbody style="font-style:bold;">
                                  <tr class="table-header" onclick="window.location.href = '{{ url_for('room_request.manage', id=d[0].id) }}';">
                                      <td>
                                        <div class="ui labeled button expand-btn fluid" tabindex="0">
                                        <div class="fluid ui blue button">
                                          Expand
                                        </div>
                                        <span class="ui basic label">
                                          {{ d|length }}
                                        </span>
                                        </div>
                                      </td>
                                      <td class="collapsing">{{ d[0].patient_first_name }}</td>
                                      <td class="collapsing">{{ d[0].patient_last_name }}</td>
                                      <td class="collapsing">{{ d[0].patient_check_in }}</td>
                                      <td class="collapsing">{{ d[0].patient_check_out }}</td>
                                      <td class="collapsing">{{ d[0].patient_hospital }}</td>
                                      <td class="collapsing">{{ d[0].patient_diagnosis }}</td>
                                      <td>{{ d[0].inpatient }}</td>
                                      <td>{{ 'Yes' if d[0].inpatient_prior else 'No' }}</td>
                                      <td>{{ d[0].first_name }}</td>
                                      <td>{{ d[0].last_name }}</td>
                                      <td>{{ d[0].relationship_to_patient }}</td>
                                      <td>{{ d[0].email }}</td>
                                      <td>{{ d[0].primary_phone }}</td>
                                      <td>{{ d[0].primary_language }}</td>
                                      <td>{{ 'Yes' if d[0].previous_stay else 'No' }}</td>
                                  </tr>
                                </tbody>
                                <tbody hidden>
                                  {% for r in d[1:] %}
                                  <tr onclick="window.location.href = '{{ url_for('room_request.manage', id=r.id) }}';">
                                    <td></td>
                                    <td class="collapsing">{{ r.patient_first_name }}</td>
                                    <td class="collapsing">{{ r.patient_last_name }}</td>
                                    <td class="collapsing">{{ r.patient_check_in }}</td>
                                    <td class="collapsing">{{ r.patient_check_out }}</td>
                                    <td class="collapsing">{{ r.patient_hospital }}</td>
                                    <td class="collapsing">{{ r.patient_diagnosis }}</td>
                                    <td>{{ r.inpatient }}</td>
                                    <td>{{ 'Yes' if r.inpatient_prior else 'No' }}</td>
                                    <td>{{ r.first_name }}</td>
                                    <td>{{ r.last_name }}</td>
                                    <td>{{ r.relationship_to_patient }}</td>
                                    <td>{{ r.email }}</td>
                                    <td>{{ r.primary_phone }}</td>
                                    <td>{{ r.primary_language }}</td>
                                    <td>{{ 'Yes' if r.previous_stay else 'No' }}</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                        {% else %}
                        <p>There are currently no duplicate room requests.</p>
                        {% endif %}
                    </div>
                </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    $( ".expand-btn" ).click(function(e) {
                        e.stopImmediatePropagation();
                        if($(this).parents("tbody").next().is(":visible")) {
                            $(this).parents("tbody").next().hide();
                            $(this).children().first().text("Expand");
                        }
                        else {
                            $(this).parents("tbody").next().show();
                            $(this).children().first().text("Close");
                        }
                    });
                });
            </script>
        </div>
    </div>


    <script>
        $('.tabular.menu .item').tab();
    </script>

    </div>

{% endblock %}
