{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}


{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Request a Room Form
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            <div <table>
              <tr>
                <th>Room Request ID</th>
                <th>Patient First Name</th>
                <th>Patient Last Name</th>
                <th>Requester Phone Number</th>
                <th>Requester Email</th>
              </tr>
            {% for r in roomrequests %}
              <tr>
                <th> {{ r.id }} </th>
                <th> {{ r.patient_first }} </th>
                <th> {{ r.patient_last }} </th>
                <th> {{ r.primary_phone }} </th>
                <th> {{ r.email }} </th>
              </tr>
              {% endfor %}


            </table>
        </div>
    </div>
{% endblock %}
