{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Room Requests
                <div class="sub header">
                    View and manage all room requests.
                </div>
            </h2>

            <div class="ui fluid search" style="padding-top: 10px; padding-bottom: 20px;">
                <div class="ui icon input">
                    <input class="prompt" id="search-room-requests" type="text" placeholder="Search room requests">
                    <i class="search icon"></i>
                </div>
            </div>

            <div style="max-width: 100%; overflow-y: hidden;" style="padding-top: 24px; padding-bottom: 36px;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead> 
                        <tr>
                            <th rowspan="2">Patient First Name</th>
                            <th rowspan="2" class="sorted ascending">Patient Last Name</th>
                            <th rowspan="2">Check-In</th>
                            <th rowspan="2">Check-Out</th>
                            <th rowspan="2">Diagnosis</th> 
                            <th rowspan="2">Department</th>
                            <th rowspan="2">Requester First Name</th>
                            <th rowspan="2">Requester Last Name</th>
                            <th rowspan="2">Requester Phone Number</th>
                            <th rowspan="2">Requested Before?</th>
                            <th colspan="6">Requester Information</th>
                            <th colspan="16">Other Patient Information</th>
                        </tr>
                        <tr>
                            <!--requester information-->
                            <th>Email Address</th>
                            <th>Relationship to Patient</th>
                            <th>Secondary Phone Number</th>
                            <th>Address</th>
                            <th>Primary Language</th>
                            <th>Secondary Language</th>

                            <!--other patient information-->
                            <th>Patient Birthday</th>
                            <th>Patient Gender</th>
                            <th>Hospital in Philadelphia</th>
                            <th>Treatment Description</th>
                            <th>First Appointment Date</th>
                            <th>Treating Doctor</th>
                            <th>Doctor Phone Number</th>
                            <th>Hospital Social Worker</th>
                            <th>Hospital Social Worker Phone Number</th>
                            <th>Inpatient/Outpatient</th>
                            <th>Inpatient Stay?</th>
                            <th>Vaccinated</th>
                            <th>Wheelchair Access</th>
                            <th>Full Bathroom</th>
                            <th>Pack & Play</th>
                            <th>Additional Comments</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for r in room_requests %}
                    <tr>
                        <td class="collapsing">{{ r.patient_first_name }}</td>
                        <td class="collapsing">{{ r.patient_last_name }}</td>
                        <td class="collapsing">{{ r.patient_check_in }}</td>
                        <td class="collapsing">{{ r.patient_check_out }}</td>
                        <td class="collapsing">{{ r.patient_diagnosis }}</td>
                        <td>{{ r.patient_hospital_department }}</td>
                        <td>{{ r.first_name }}</td>
                        <td>{{ r.last_name }}</td>
                        <td>{{ r.primary_phone }}</td>
                        <td>{{ r.previous_stay }}</td>
                        
                        <!--other requester information-->
                        <td>{{ r.email }}</td>
                        <td>{{ r.relationship_to_patient }}</td>
                        <td>{{ r.secondary_phone }}</td>
                        <td class="collapsing">
                                {{ r.address_line_one }} {{ r.address_line_two }} <br />
                                {{ r.city }}, {{ r.state }}, {{ r.zip_code }}, {{ r.country }}
                            </td>
                        <td>{{ r.primary_language }}</td>
                        <td>{{ r.secondary_language }}</td>

                        <!--other patient information-->
                        <td>{{ r.patient_dob }}</td>
                        <td>{{ r.patient_gender }}</td>
                        <td class="collapsing">{{ r.patient_hospital }}</td>
                        <td>{{ r.patient_hospital_department }}</td>
                        <td class="collapsing">{{ r.patient_treatment_description }}</td>
                        <td class="collapsing">{{ r.patient_first_appt_date }}</td>
                        <td class="collapsing">{{ r.patient_treating_doctor }}</td>
                        <td class="collapsing">{{ r.patient_doctors_phone }}</td>
                        <td class="collapsing">{{ r.patient_social_worker }}</td>
                        <td class="collapsing">{{ r.patient_social_worker_phone }}</td>
                        <td>{{ r.inpatient }}</td>
                        <td>{{ r.inpatient_prior }}</td>
                        <td>{{ r.vaccinated }}</td>
                        <td>{{ r.wheelchair_access }}</td>
                        <td>{{ r.full_bathroom }}</td>
                        <td>{{ r.pack_n_play }}</td>
                        <td class="collapsing">{{ r.comments }}</td>

                        <!-- <td>{{ r.first_name }}</td>
                        <td>{{ r.last_name }}</td>
                        <td>{{ r.email }}</td>
                        <td>{{ r.relationship_to_patient }}</td>
                        <td class="collapsing">
                            {{ r.address_line_one }} {{ r.address_line_two }} <br />
                            {{ r.city }}, {{ r.state }}, {{ r.zip_code }}, {{ r.country }}
                        </td>
                        <td>{{ r.primary_phone }}</td>
                        <td>{{ r.secondary_phone }}</td>
                        <td>{{ r.primary_language }}</td>
                        <td>{{ r.secondary_language }}</td>
                        <td>{{ r.previous_stay }}</td>
                        <td class="collapsing">{{ r.patient_first_name }}</td>
                        <td class="collapsing">{{ r.patient_last_name }}</td>
                        <td>{{ r.patient_dob }}</td>
                        <td>{{ r.patient_gender }}</td>
                        <td class="collapsing">{{ r.patient_hospital }}</td>
                        <td>{{ r.patient_hospital_department }}</td>
                        <td class="collapsing">{{ r.patient_treatment_description }}</td>
                        <td class="collapsing">{{ r.patient_diagnosis }}</td>
                        <td class="collapsing">{{ r.patient_first_appt_date }}</td>
                        <td class="collapsing">{{ r.patient_check_in }}</td>
                        <td class="collapsing">{{ r.patient_check_out }}</td>
                        <td class="collapsing">{{ r.patient_treating_doctor }}</td>
                        <td class="collapsing">{{ r.patient_doctors_phone }}</td>
                        <td class="collapsing">{{ r.patient_social_worker }}</td>
                        <td class="collapsing">{{ r.patient_social_worker_phone }}</td>
                        <td>{{ r.inpatient }}</td>
                        <td>{{ r.inpatient_prior }}</td>
                        <td>{{ r.vaccinated }}</td>
                        <td>{{ r.wheelchair_access }}</td>
                        <td>{{ r.full_bathroom }}</td>
                        <td>{{ r.pack_n_play }}</td>
                        <td class="collapsing">{{ r.comments }}</td> -->
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        
    </script>
    
{% endblock %}