{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
  <style type="text/css">
    #requirements-list > li {
      line-height: 150%;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>

  <div class="ui text container">
    <h2 class="ui header">
      Request a Room
    </h2>
    <div class="ui segments">
      <div class="ui segment" style="text-align:center">
      <b>Before submitting your room request, please read and acknowledge that you understand the following.</b>
      </div>
      <div class="ui segment" style="text-align:justify; padding-right:3em; padding-bottom:2em">
        {{ page.render_inline_editor(editable_html_obj, current_user) }}
      </div>
    </div>

    <div class="ui tertiary blue inverted segment">
        <div class="ui deletion checkbox">
            <input type="checkbox">
            <label style="color:white"><b>I acknowledge that I have read and understood this information.</b></label>
        </div>
    </div>

    <div style="text-align:center; padding-top:4px"">
      <a href="{{ url_for('room_request.new') }}">
        <button class="ui disabled right labeled icon button" id="edit">
            <i class="right arrow icon"></i>
            Proceed to Room Request Form
        </button>
      </a>
    </div>
    <script>
      $(document).ready(function() {
        $('[type="checkbox"]').change(function() {
          $('#edit').toggleClass('disabled');
          });
      });
    </script>
  </div>
  <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
